* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 10px;
        margin: 10px;
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;

}

.navbar__s1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.navbar__s1 i {
    font-size: 30px;
}

.navbar__s2 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    cursor: pointer;
}

.navbar__s2 p:hover {
    transition: 1s;
    background-color: #1f5130;
    color: white;
    border: #1f5130 solid 2px;
    padding: 5px;
    border-radius: 2px;
}

.navbar__s3 {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.navbar__s3 button {
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: 200;
    border-radius: 20px;
    padding: 8px;

}

.navbar__s3 button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: black solid 2px;
}

@media screen and (max-width:700px) {
    .navbar__s2 {
        display: none;
    }
}




.whereto__title {
    display: flex;
    justify-content: center;
    animation-name: zoom;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0% {

        transform: scale(0);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}

@media screen and (max-width:700px) {
    .whereto__title {
        display: none;
    }

}

.whereto__s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 2px;
    cursor: pointer;
}

.whereto__s1 p {
    margin-right: 20px;
}

.whereto__s2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    border: solid black 2px;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;

}

.whereto__s2 input {
    border: none;
    width: 100%;
    font-size: 20px;
}


.whereto__s2 input:focus {
    outline: none;

}

.whereto__s2 button {
    background-color: #1f5130;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.whereto__s2 button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}

.add {
    display: flex;
    align-items: center;
    margin: 0 auto;
     margin-top: 40px;
    gap: 20px;
    background-color: #1f5130;
    width: 70%;
    height: 70%;
    padding: 40px;
    border-radius: 50px;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .add {
        flex-wrap: wrap;

    }

    .add__line {
        display: none;
    }

}

.add__img {
    width: 100%;
    border-radius: 100px;

}


.add__line {
    width: 1px;
    height: 40vh;
    background-color: black;

}

.add__title {
    padding: 20px;
    text-align: center;
}

.add__title button {
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: greenyellow;
    cursor: pointer;
    margin-top: 20px;
}

.add__title button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}


.third__title {
  margin-left: 130px;
  margin-top: 20px;
    
}
  
.third__img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    cursor: pointer;

}

.third__img img:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 3px;
}

.card {
    position: relative;
    width: 280px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
    left: 10px;
    flex-grow: 1px;
    flex-basis: 20%;
    margin: 5px
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid black 1px;
}

.tag {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    writing-mode: horizontal-tb;

}

.Advertisement {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #1f5130;
    color: white;
    width: 76%;
    height: 20%;
    cursor: pointer;
}

.Advertisement {
    top: 30px;
    border-radius: 20px;
}

.Advertisement img {
    border-radius: 50px;
    transform: rotate(-150deg);
}

.Advertisement__title {
    padding: 20px;
    margin: 10px;
}


.Advertisement__title button {
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    padding: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
    cursor: pointer;
}

.Advertisement__title button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}

.place {
    margin: 40px
}

.place__title {
    margin-top: 70px;
    margin-left: 150px;
}


.place__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.place__container img {
    width: 275px;
    height: 245px;
    border-radius: 12px;
    margin-top: 20px;
}

.place__container img:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 3px;
}

@media screen and (max-width:600px){
    .spot__list{
    
    }
    
}

.Advertisement1 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    margin: 0 auto;
    background-color: #1f5130;
    color: white;
    width: 76%;
    height: 20%;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .Advertisement1 {
        flex-wrap: wrap;
    }
}

.Advertisement1 {
    border-radius: 50px;
}

.Advertisement1 img {
    border-radius: 50px;
    transform: rotate(-150deg);
}

.Advertisement1__title h2 {
    padding: 20px;
}

.Advertisement1__title p {
    padding: 10px;
}

.Advertisement1__title button {
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    padding: 20px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    cursor: pointer;
}

.Advertisement1__title button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}

.place1 {
    margin: 40px;
     margin-top: 80px;
}

.place1__title {
    margin-left: 150px;
}


.place1__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.place1__container img {
    width: 275px;
    height: 245px;
    border-radius: 10px;
    margin-top: 20px;

}

.place1__container img:hover {
    transition: 1s;
    background-color: black;
    color: white;
    border: solid black 3px;
}

.suggestion{
    margin-top: 50px;
}

.suggestion__title {
    margin-left: 190px;
}


.suggestion__container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    cursor: pointer;

}

.suggestion__container img:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid blue 2px;
}

.fam-spots {
    position: relative;
    width: 280px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
    left: 10px;
}

.fam-spots img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    writing-mode: horizontal-tb;

}

.winner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 10px;
    margin-top: 60px;
    background-color: #1f5130;
    color: white;
    align-items: center;
     text-align: center;
    cursor: pointer;
}

.winner__s1 {
    font-size: 20px;
    padding: 10px;
   
}

.winner__s1 button {
    cursor: pointer;
    border: solid black 2px;
}

.winner__s1 button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}

.winner__s1 button {
    background-color: white;
    color: black;
    padding: 15px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
}

.winner__s2 {
    width: 380px;
    height: 230px;
    border-radius: 150px;
    overflow: hidden;
    transform: rotate(35deg);

}

.winner__s2 img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:600px) {
   .winner__s2{
    width: 210px;
   }
}

@media screen and (max-width:400px){
    winner__s2{
        width: 100%;
    }
    
}


.footer1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 25px;
    margin: 20px;
    cursor: pointer;
}

.footer {
    background-color: #1f5130;
    color: white;
    margin-top: 50px;

}

.footer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.footer2__s1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer2__s2,
.footer2__s3 {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;

}

.footer3 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.footer3__s2 {
    font-size: 30px;
}

.footer4 {
    margin: 20px;
    padding: 10px;
}

.footer4__s1,
.footer4__s2 {
    margin-top: 30px;
    margin-left: 75px;
}

@media screen and (max-width:600px){
    .footer4{
        display: none;
    }
    
}