* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 800px){
    body{
        font-size: 10px;
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;

}

.navbar__s1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.navbar__s1 i {
    font-size: 30px;
}

.navbar__s2 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    cursor: pointer;
}

.navbar__s2 p:hover {
    transition: 1s;
    background-color: #1f5130;
    color: white;
    border: #1f5130 solid 2px;
    padding: 5px;
    border-radius: 2px;
}

.navbar__s3 {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.navbar__s3 button {
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: 200;
    border-radius: 20px;
    padding: 8px;
    
}

.navbar__s3 button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
     border: black solid 2px;
}

@media screen and (max-width:700px) {
    .navbar__s2{
        display: none;
    }
}




.whereto__title {
    margin-left: 650px;
    margin-top: 70px;
    padding: 10px;
    font-size: 50px;
    animation-name: zoom;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0% {

        transform: scale(0);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}

@media screen and (max-width:700px) {
    .whereto__title{
        display: none;
    }
  
}

.whereto__s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
    margin-left: 65px;
    gap: 2px;
    cursor: pointer;
}

.whereto__s1 p {
    margin-right: 20px;
}

.whereto__s2 {
    border: solid black 2px;
    width: 50%;
    padding: 10px;
    border-radius: 40px;
    margin-left: 380px;
    margin-top: 1px;

}

.whereto__s2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;

}

.whereto__s2 input {
    border: none;
    width: 100%;
    font-size: 20px;
}

@media screen and (max-width: 500px){
    .whereto__s2{
    margin-left: 120px;
    display: flex;
    }
}

.whereto__s2 input:focus {
    outline: none;

}

.whereto__s2 button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}

.whereto__s2 button {
    background-color: #1f5130;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.add {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 50px;
    background-color: #1f5130;
    width: 60%;
    height: 70%;
    padding: 40px;
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 285px;
    cursor: pointer;
}

.add__img {
    width: 100%;
    border-radius: 100px;
}

@media screen and (max-width:600px){
    .add {
        display: none;
    }
}

.add__line {
    width: 1px;
    height: 40vh;
    background-color: black;

}

.add__title {
    padding: 20px;
}

.add__title button {
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: greenyellow;
    margin-left: 120px;
    margin-top: 40px;
    cursor: pointer;
}

.add__title button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}


.add__title h1 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.third__title {
    margin-left: 190px;
    margin-top: 50px;
}

.third p {
    margin-left: 190px;
    padding: 5px;
}

.third__img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    cursor: pointer;
     

}

.third__img img:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 3px;
}

.card {
    position: relative;
    width: 280px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
    left: 10px;
    flex-grow: 1px;
    flex-basis: 20%;
    margin: 5px
}




.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
     border: solid black 1px;
}

.tag {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    writing-mode: horizontal-tb;

}

.Advertisement {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #1f5130;
    color: white;
    width: 76%;
    height: 20%;
    cursor: pointer;
}

.Advertisement {
    position: relative;
    left: 190px;
    top: 30px;
    border-radius: 20px;
}

.Advertisement img {
    border-radius: 50px;
    transform: rotate(-150deg);
}

.Advertisement__title h2 {
    padding: 20px;
}

.Advertisement__title p {
    padding: 10px;
}

.Advertisement__title button {
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    padding: 25px;
    margin-left: 700px;
    margin-top: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}

.Advertisement__title button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}

.place {
    margin: 40px
}

.place__title {
    margin-top: 70px;
    margin-left: 150px;
}


.place__container {
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.place__container img {
    width: 275px;
    height: 245px;
    border-radius: 10px;
    margin-top: 20px;
}

.place__container img:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 3px;
}

.Advertisement1 {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #1f5130;
    color: white;
    width: 76%;
    height: 20%;
    cursor: pointer;
}

.Advertisement1 {
    position: relative;
    left: 190px;
    top: 30px;
    border-radius: 50px;
}

.Advertisement1 img {
    border-radius: 50px;
    transform: rotate(-150deg);
}

.Advertisement1__title h2 {
    padding: 20px;
}

.Advertisement1__title p {
    padding: 10px;
}

.Advertisement1__title button {
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    padding: 20px;
    margin-left: 700px;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    cursor: pointer;
}

.Advertisement1__title button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}

.place1 {
    margin: 40px
}

.place1__title {
    margin-top: 80px;
    margin-left: 150px;
}


.place1__container {
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.place1__container img {
    width: 275px;
    height: 245px;
    border-radius: 10px;
    margin-top: 20px;
}

.place1__container img:hover {
    transition: 1s;
    background-color: black;
    color: white;
    border: solid black 3px;
}

.suggestion__title {
    margin-left: 190px;
    margin-top: 50px;
}


.suggestion__container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    cursor: pointer;

}

.suggestion__container img:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid blue 2px;
}

.fam-spots {
    position: relative;
    width: 280px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
    left: 10px;
}

.fam-spots img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    writing-mode: horizontal-tb;

}

.winner {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;
    margin-top: 60px;
    background-color: #1f5130;
    color: white;
    height: 400px;
    align-items: center;
    cursor: pointer;
}

.winner__s1 {
    font-size: 24px;
    padding: 10px;
}

.winner__s1 button {
    margin-top: 20px;
    cursor: pointer;
    border: solid black 2px;
}

.winner__s1 button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}

.winner__s1 button {
    background-color: white;
    color: black;
    padding: 15px;
    border: none;
    border-radius: 20px;
}

.winner__s2 {
    width: 500px;
    height: 280px;
    border-radius: 150px;
    overflow: hidden;
    transform: rotate(35deg);

}

.winner__s2 img {
    width: 100%;
    height: 100%;
    z-index: 1;
   

}

.winner__s2__1{
    background-color: yellow;
    width: 130px;
    height: 120px;
    border-radius: 500px;
    z-index: 0;
    
}

.footer1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 25px;
    margin: 20px;
    margin-top: 90px;
    cursor: pointer;


}

.footer {
    background-color: #1f5130;
    color: white;
    margin-top: 50px;

}

.footer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.footer2__s1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer2__s2,
.footer2__s3 {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
}

.footer3 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.footer3__s2 {
    font-size: 30px;
}

.footer4 {
    margin: 20px;
    padding: 10px;
}

.footer4__s1,
.footer4__s2 {
    margin-top: 30px;
    margin-left: 75px;
}