* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 12px;
        margin: 10px;
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;

}

.navbar__s1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.navbar__s1 i {
    font-size: 30px;
}

.navbar__s2 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    cursor: pointer;
}

.navbar__s2 p:hover {
    transition: 1s;
    background-color: #34E0A1;
    color: #000000;
    border: white solid 2px;
    padding: 5px;
    border-radius: 2px;
}

.navbar__s3 {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.navbar__s3 button {
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: 200;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;

}

.navbar__s3 button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: black solid 2px;
}

@media screen and (max-width:700px) {
    .navbar__s2 {
        display: none;
    }
}




.whereto__title {
    display: flex;
    justify-content: center;
    animation-name: zoom;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0% {

        transform: scale(0);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}

@media screen and (max-width:700px) {
    .whereto__title {
        display: none;
    }

}

.whereto__s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 2px;
    cursor: pointer;
}

.whereto__s1 p {
    margin-right: 20px;
}

.whereto__s2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    border: solid black 2px;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;

}

.whereto__s2 input {
    border: none;
    width: 100%;
    font-size: 20px;
}


.whereto__s2 input:focus {
    outline: none;

}

.whereto__s2 button {
    background-color: #34E0A1;
    color: #000000;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.whereto__s2 button:hover {
    transition: 1s;
    background-color: white;
    color: #34E0A1;
    border: solid #1f5130 2px;
}

.add {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    gap: 20px;
    background-color: #34E0A1;
    color: #1f2d1f;
    width: 70%;
    height: 70%;
    padding: 40px;
    border-radius: 50px;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .add {
        flex-wrap: wrap;

    }

    .add__line {
        display: none;
    }

}

.add__img {
    width: 100%;
    border-radius: 100px;

}


.add__line {
    width: 1px;
    height: 40vh;
    background-color: black;

}

.add__title {
    padding: 20px;
    text-align: center;
}

.add__title button {
    padding: 20px;
    border-radius: 10px;
    color: black;
    background-color: white;
    cursor: pointer;
    margin-top: 20px;
}

.add__title button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}


.third__title {
    margin-top: 20px;
    text-align-last: center;
    color: #1c1c1c;
}

.third__img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    cursor: pointer;

}

.third__img img:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 3px;
}

.card {
    position: relative;
    width: 280px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
    left: 10px;
    flex-grow: 1px;
    flex-basis: 20%;
    margin: 5px
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid black 1px;
}

.tag {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    writing-mode: horizontal-tb;

}

.Advertisement {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #34E0A1;
    color: #1f2d1f;
    width: 76%;
    height: 20%;
    cursor: pointer;
}

.Advertisement {
    top: 30px;
    border-radius: 20px;
}

.Advertisement img {
    border-radius: 50px;
    transform: rotate(-150deg);
}

.Advertisement__title {
    padding: 20px;
    margin: 10px;
}


.Advertisement__title button {
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    padding: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
    cursor: pointer;
}

.Advertisement__title button:hover {
    transition: 1s;
    background-color: white;
    color: #1f5130;
    border: solid #1f5130 2px;
}

.place {
    margin: 20px;

}

.place__title {
    margin-top: 30px;
    text-align-last: center;
    padding: 20px;
    color: #1c1c1c;

}


.place__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
    flex-basis: 30%;

}

.place__container img {
    height: 70%;
    width: 100%;
    border-radius: 10px;
    margin: 0px;
}

.place__container h3 {
    color: #1c1c1c;
}

.place__container p {
    color: #4a4a4a;
}

.place__container img:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid #1f5130 3px;
}

@media screen and (max-width:600px) {
    .place {}
}

.Advertisement1 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #34E0A1;
    color: #1f2d1f;
    width: 76%;
    height: 20%;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .Advertisement1 {
        flex-wrap: wrap;
    }
}

.Advertisement1 {
    border-radius: 50px;
}

.Advertisement1 img {
    border-radius: 50px;
    transform: rotate(-150deg);
}

.Advertisement1__title {
    padding: 20px;
    margin: 10px;
}


.Advertisement1__title button {
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    padding: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}

.Advertisement1__title button:hover {
    transition: 1s;
    background-color: white;
    color: #1f5130;
    border: solid #1f5130 2px;
}

@media screen and (max-width:600px) {
    .Advertisement1 img {
        width: 190px;
    }
}

@media screen and (max-width:400px) {
    .Advertisement1 img {
        width: 100%;
    }

}


.place1 {
    margin: 40px;
    margin-top: 80px;
}

.place1__title {
    text-align-last: center;
    padding: 20px;
    color: #1c1c1c;

}

.place1__container {
    display: flex;
    flex-basis: 30%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.place1__container img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    margin: 0px;

}

.place__container h3,
.place__container p {
    color: #1c1c1c;

}

.place1__container img:hover {
    transition: 1s;
    background-color: black;
    color: white;
    border: solid #1f5130 3px;
}

.suggestion {
    margin-top: 70px;

}

.suggestion__title {
    text-align-last: center;
    color: #1c1c1c;

}

.suggestion__container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
    cursor: pointer;

}

.suggestion__container img:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid blue 2px;
}

.fam-spots {
    position: relative;
    width: 280px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
    left: 10px;
    flex-basis: 20%;
}

.fam-spots img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid #1f5130 3px;
}

.tag {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    writing-mode: horizontal-tb;

}

.winner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 10px;
    margin-top: 60px;
    background-color: #34E0A1;
    color: #1f2d1f;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.winner__s1 {
    font-size: 20px;
    padding: 10px;

}

.winner__s1 button {
    cursor: pointer;
    border: solid #e0e0e0 2px;
}

.winner__s1 button:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid black 2px;
}

.winner__s1 button {
    background-color: white;
    color: #1f5130;
    padding: 15px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
}

.winner__s2 {
    width: 380px;
    height: 230px;
    border-radius: 150px;
    overflow: hidden;
    transform: rotate(35deg);

}

.winner__s2 img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:600px) {
    .winner__s2 {
        width: 210px;
    }
}

@media screen and (max-width:400px) {
    winner__s2 {
        width: 100%;
    }

}


.footer1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 25px;
    margin: 20px;
    cursor: pointer;
}

.footer {
    background-color: #34E0A1;
    color: #1f2d1f;
    margin-top: 50px;

}

.footer2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.footer2__s1 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer2__s2,
.footer2__s3 {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;

}

.footer3 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.footer3__s2 {
    font-size: 30px;
}

.footer4 {
    margin: 20px;
    padding: 10px;
}

.footer4__s1,
.footer4__s2 {
    margin-top: 30px;
    margin-left: 75px;
}

@media screen and (max-width:600px) {
    .footer4 {
        display: none;
    }

}